@{
    ViewBag.Title = "Contact";
}

<div class="contact-container">
    <h2 class="text-center" style="color: #007f00;">Contact</h2>

    <p>Thank you for your interest in StudentHub Web Application! Whether you have a question, suggestion, or just want to say hello, I'd love to hear from you.</p>

    <p class="contact-info">Feel free to reach out via email at <a href="mailto:your.email@example.com">anjalinikhate@gmail.com</a>.</p>

    <p>Alternatively, you can connect with me on social media:</p>

    <ul class="social-links">
        <li><a href="https://www.linkedin.com/in/anjali-nikhate/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>

    <p>I appreciate your feedback and look forward to hearing from you!</p>
</div>

<style>
    .contact-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .contact-info {
        font-weight: bold;
    }

    .social-links {
        list-style-type: none;
        padding: 0;
    }

        .social-links li {
            display: inline-block;
            margin-right: 15px;
        }

        .social-links a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }
</style>
